/*iniciando con CSS*/


/*Inicio Cambio color de la tabla*/

.tbColor {
    background-color: brown;
}

.tbColor {
    background-color: rgb(197, 8, 255) !important;
    color: white;
}

.tbColor {
    background-color: rgb(179, 255, 0) !important;
    color: rgb(255, 0, 98);
}

table {
    /*background-color: red !important;*/
    border-style: solid;
    border-width: 5px;
    border-color: #2f00ff;
}

table th {
    color: black;
}

.mrtb {
    margin-top: 2%;
}

#idTbColor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Fin  Cambio color de la tabla*/


/*Modificando el Footer*/

.ftEdit {
    text-align: center;
}

.txtJustify {
    text-align: justify;
}

#LstNoOrdenada {
    border: 50px;
    border-color: rgb(16, 86, 190);
}